@import 'src/styles/variables';

.btn {
  font-family: var(--font-family);
  border: none;
  background: $bt-grey-bg-color;
  border-radius: 12px;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: $color-text;
  transition: 0.3s;

  @include tablet {
    padding: 11px 20px;
  }

  &:hover {
    background: darken($bt-grey-bg-color, 10%);
  }

  &:global(._isBlue) {
    background: $color-accent;
    color: $bg-color-content;

    &:hover {
      background: lighten($color-accent, 10%);
    }
  }

  &:global(._isGreen) {
    background: $green;
    color: $bg-color-content;
    &:hover {
      background: lighten($green, 10%);
    }
  }

  &:global(._isOutline) {
    background: $bg-color-content;
    border: 1px solid $bt-grey-bg-color;
    color: $color-text;

    &:hover {
      color: $color-accent;
    }
  }
}
