{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "plugins": ["no-inline-styles"],
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".tsx"] }],
    "import/no-unresolved": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-inline-styles/no-inline-styles": 0
  }
}
