{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier"
  ],
  "plugins": [
    "eslint-plugin-no-inline-styles"
  ],
  "parser":  "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion":  2024,
    "sourceType":  "module",
    "ecmaFeatures": {
      "jsx":  true
    }
  },
  "rules":  {
    "no-use-before-define": "off",
    "react/jsx-filename-extension": [2, {
      "extensions": [
        ".tsx"
      ]
    }],
    "@typescript-eslint/no-explicit-any": "off",
    "no-trailing-spaces": "off",
    "semi": "off",
    "indent": "off",
    "object-curly-spacing": "off",
    "comma-spacing": "off",
    "camelcase": "off",
    "quotes": "off",
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": "off",
    "import/no-unresolved": "off",
    "@typescript-eslint/explicit-module-boundary-types": "error",
    "@typescript-eslint/no-unused-vars": "warn",
    "import/prefer-default-export": 0,
    "no-inline-styles/no-inline-styles": 0,
    "no-useless-escape": "off",
    "import/extensions": [1, "ignorePackages", {
      "ts": "never",
      "tsx": "never"
    }],
    "no-param-reassign": ["error", {
      "props": true,
      "ignorePropertyModificationsFor": [
        "state"
      ]
    }],
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/require-default-props": "off",
    "no-console":"off",
    "func-names": "off"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/extensions": [".ts", ".tsx"],
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
