@import 'src/styles/variables';

.language {
  position: relative;
  z-index: 20;

  &:hover {
    & .body {
      svg {
        transform: rotate(180deg);
      }
    }
    .dropdown {
      opacity: 1;
      transform: translateX(-50%) translateY(0%);
    }
  }

  & .body {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      color: $darkText;
      text-transform: capitalize;
    }
    svg {
      transition: 0.3s;
    }
  }
  & .dropdown {
    position: absolute;
    left: 50%;
    top: calc(100% + 5px);
    opacity: 0;
    transform: translateX(-50%) translateY(-200%);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10%;
    border: 1px solid $borderGrey;
    padding: 12px;
    width: max-content;
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    background: #fff;
    z-index: 3;

    &::after {
      content: '';
      position: absolute;
      height: 5px;
      width: 100%;
      left: 0;
      bottom: 100%;
      z-index: 2;
    }

    & .item {
      display: flex;
      align-items: center;
      gap: 12px;
      justify-content: space-between;
      width: 100%;

      &:hover {
        span {
          color: $blue;
        }
      }

      svg {
        opacity: 0;
      }

      &:global(._isChecked) {
        svg {
          opacity: 1;
        }
      }
    }
  }
}
