@import 'src/styles/variables';

.possibility {
  &_title {
    .blue {
      background: linear-gradient(71deg, #004fff 0%, #0040cf 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px 80px;
    flex-wrap: wrap;
    @include tablet {
    gap: 20px 60px;
    }
    @include phone {
      gap: 20px 20px;
    }
    svg {
      height: 33px;
      width: auto;
      @include tablet {
        height: 20px;
      }
      @include phone {
        height: 25px;
      }
    }
  }
}
