$blue: #2d6bf6;
$blue2: #0149ec;
$grey: #f0f3f7;
$grey2: #a8b0b9;
$green: #48c41b;
$darkText: #242d35;
$inputGray: #f6f6f6;
$borderGrey: #eee;
$descColor: #4f5b67;
$blueLinerGradient: linear-gradient(124deg, #f7faff 0%, #f7f7ff 100%);

@mixin laptop {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin iphone {
  @media screen and (max-width: 760px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 505px) {
    @content;
  }
}
