@import 'src/styles/variables';

:global(.body) {
  background: url(../../assets/bg.webp);
  background-repeat: repeat;
}

.home {
  padding: 40px 0;
  padding-top: calc(20px + 68px);
  @include tablet {
    padding: 20px 0;
    padding-top: calc(20px + 68px);
  }
  @include phone {
    padding: 10px 0;
    padding-top: calc(10px + 68px);
  }
  & .accent {
    background-image: url(../../assets/hero.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 92px;
    padding-bottom: 66px;
    border-radius: 20px;
    @include tablet {
      padding: 40px 0;
    }
    @include phone {
      background-image: url(../../assets/hero_mb.webp);
    }
    &_content {
      max-width: 920px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include tablet {
        max-width: 621px;
      }
      @include phone {
        padding: 0 12px;
      }

      & .title {
        margin-bottom: 20px;
        @include tablet {
          margin-bottom: 8px;
        }
        @include phone {
          margin-bottom: 12px;
        }
      }
      & .subtitle {
        font-weight: 600;
        font-size: 22px;
        line-height: 140%;
        letter-spacing: -0.02em;
        text-align: center;
        margin-bottom: 40px;

        @include tablet {
          font-size: 16px;
          margin-bottom: 24px;
        }
        @include phone {
          margin-bottom: 28px;
        }
      }
      & .btn {
        margin-bottom: 52px;
        font-size: 14px;

        @include tablet {
          margin-bottom: 28px;
        }
      }
      & .points {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: space-between;
        @include phone {
          display: flex;
          flex-direction: column;
          gap: 8px;
          align-items: flex-start;
        }
        li {
          position: relative;
          padding-left: 85px;
          font-size: 14px;
          line-height: 140%;
          border-right: 1px dashed #fff;
          height: 65px;
          align-items: center;
          display: flex;
          padding-right: 44px;
          padding-left: calc(85px + 44px);
          width: 100%;

          @include tablet {
            padding-right: 12px;
            padding-left: calc(40px + 12px);
            height: 40px;
          }
          @include phone {
            padding-left: calc(32px + 12px);
            height: 32px;
            border: none;
          }

          &:first-child {
            padding-left: 85px;
            @include tablet {
              padding-left: 40px;
            }
            &::before {
              left: 0;
            }
          }

          &:last-child {
            border: none;
          }

          &::before {
            content: '';
            width: 65px;
            height: 65px;
            background: url(../../assets/check.webp);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 44px;
            top: 50%;
            transform: translateY(-50%);

            @include tablet {
              width: 40px;
              height: 40px;
              left: 12px;
            }
            @include phone {
              width: 32px;
              height: 32px;
              left: 0;
            }
          }
        }
      }
    }
  }
}

.title {
  font-weight: 600;
  font-size: 54px;
  line-height: 110%;
  text-align: center;
  color: #000;

  strong {
    background: linear-gradient(71deg, #004fff 0%, #0040cf 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include tablet {
    font-size: 30px;
  }
  @include phone {
    font-size: 25px;
  }
}

$maxWidthTitles: 520px;

.section_title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  max-width: $maxWidthTitles;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  @include tablet {
    font-size: 20px;
    margin-bottom: 8px;
  }
  @include iphone {
    margin-bottom: 32px;
  }
}

.section_desc {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-align: center;
  color: $descColor;
  max-width: $maxWidthTitles;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;
  @include tablet {
    margin-bottom: 28px;
  }
  @include iphone {
    display: none;
  }
}

.how {
  &_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    @include tablet {
      gap: 24px;
    }
    @include iphone {
      gap: 0px;
      flex-direction: column;
    }

    & > * {
      &:nth-child(1) {
        .how_item {
          &:nth-child(1) {
            &::before {
              background-image: url(../../assets/how-1.webp);
            }
          }
          &:nth-child(2) {
            &::before {
              background-image: url(../../assets/how-2.webp);
            }
          }
        }
      }
      &:nth-child(3) {
        .how_item {
          &:nth-child(1) {
            &::before {
              background-image: url(../../assets/how-3.webp);
            }
          }
          &:nth-child(2) {
            &::before {
              background-image: url(../../assets/how-4.webp);
            }
          }
        }
      }
    }
  }
  &_items {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @include iphone {
      gap: 24px;
      margin-bottom: 24px;
      &:nth-child(1) {
        order: 2;
      }
      &:last-of-type {
        order: 3;
        margin-bottom: 0;
      }
    }
  }
  &_img {
    box-shadow: 0 0 67px 0 rgba(0, 0, 0, 0.1);
    max-width: 364px;
    border-radius: 24px;
    @include tablet {
      max-width: 240px;
    }
    @include iphone {
      order: 1;
      max-width: 241px;
      margin-bottom: 28px;
    }
  }
  &_item {
    background: linear-gradient(124deg, #f7faff 0%, #f7f7ff 100%);
    border-radius: 20px;
    padding: 20px;
    padding-top: 85px;
    position: relative;

    @include tablet {
      background: none;
    }

    @include iphone {
      padding: 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 20px;
      top: 20px;
      width: 58px;
      height: 55px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      @include iphone {
        display: none;
      }
    }

    strong {
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: $blue2;
      margin-bottom: 12px;
      max-width: 188px;
      @include iphone {
        max-width: fit-content;
        margin-bottom: 8px;
      }
    }
    span {
      display: block;
    }
  }
}
