@import 'src/styles/variables';

.how {
  &_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    @include tablet {
      gap: 24px;
    }
    @include iphone {
      gap: 0px;
      flex-direction: column;
    }

    & > * {
      &:nth-child(1) {
        .how_item {
          &:nth-child(1) {
            &::before {
              background-image: url(../../../assets/how-1.webp);
            }
          }
          &:nth-child(2) {
            &::before {
              background-image: url(../../../assets/how-2.webp);
            }
          }
        }
      }
      &:nth-child(3) {
        .how_item {
          &:nth-child(1) {
            &::before {
              background-image: url(../../../assets/how-3.webp);
            }
          }
          &:nth-child(2) {
            &::before {
              background-image: url(../../../assets/how-4.webp);
            }
          }
        }
      }
    }
  }
  &_items {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @include iphone {
      gap: 24px;
      margin-bottom: 24px;
      &:nth-child(1) {
        order: 2;
      }
      &:last-of-type {
        order: 3;
        margin-bottom: 0;
      }
    }
  }
  &_img {
    box-shadow: 0 0 67px 0 rgba(0, 0, 0, 0.1);
    max-width: 364px;
    border-radius: 24px;
    @include tablet {
      max-width: 240px;
    }
    @include iphone {
      order: 1;
      max-width: 241px;
      margin-bottom: 28px;
    }
  }
  &_item {
    background: $blueLinerGradient;
    border-radius: 20px;
    padding: 20px;
    padding-top: 85px;
    position: relative;

    @include tablet {
      background: none;
    }

    @include iphone {
      padding: 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 20px;
      top: 20px;
      width: 58px;
      height: 55px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      @include iphone {
        display: none;
      }
    }

    strong {
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: $blue2;
      margin-bottom: 12px;
      max-width: 188px;
      @include iphone {
        max-width: fit-content;
        margin-bottom: 8px;
      }
    }
    span {
      display: block;
    }
  }
}
