@import 'src/styles/variables';

.slider {
  display: flex;
  align-items: center;
  gap: 52px;
  @media screen and (max-width: 1090px) {
    gap: 12px;
  }
  @media screen and (max-width: 916px) {
    position: relative;
    padding-bottom: calc(20px + 40px);
  }
  &_arrow {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 100%;
    background: #eee;
    flex: none;
    @media screen and (max-width: 916px) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &.prev {
      left: calc(50% - 30px)
    }
    &.next {
      left: calc(50% + 30px)
    }
  }
  &_wrapper {
    flex: 1;
    overflow: hidden;
  }
  &_body {
    display: flex;
    transition: 0.3s;

    & > div {
      flex-basis: 100%;
      flex-shrink: 0;
      height: fit-content;
    }
  }
}
