@import 'src/styles/variables';

.sliders {
  max-width: 1155px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  &_title {
    margin-bottom: 52px;
    max-width: 677px;
    @include tablet {
      margin-bottom: 28px;
    }
  }
  &_tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
  }
}
.slider {
  &_item {
    display: flex;
    gap: 32px;
    align-items: center;
    @media screen and (max-width: 1090px) {
      gap: 20px;
    }
    @media screen and (max-width: 916px) {
      flex-direction: column;
      gap: 12px;
    }
  }
  &_itemInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    @media screen and (max-width: 916px) {
      gap: 10px;
    }
    img {
      width: 120px;
      height: 120px;
      @media screen and (max-width: 1090px) {
        width: 80px;
        height: 80px;
      }

      &:global(._isWide) {
        max-width: 440px;
        width: 100%;
        height: auto;
      }
    }
    a,
    strong {
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: -0.02em;
      text-align: center;
      text-decoration: none;
      max-width: 440px;
    }
    a {
      color: $color-accent;
      &:visited {
        color: $color-accent;
      }
    }
  }
  &_itemText {
    background: $blueLinerGradient;
    border-radius: 20px;
    padding: 30px;
    font-size: 14px;
    line-height: 140%;
    flex: 1;
    max-width: 768px;
    strong {
      font-weight: 600;
    }
    @include phone {
      background: none;
      border-radius: 0;
      padding: 10px;
      flex: none;
    }
  }
}
