$color-accent: #2d6bf6;
$blue2: #0149ec;
$bt-grey-bg-color: #f0f3f7;
$color-grey-300: #a8b0b9;
$green: #48c41b;
$color-text: #242d35;
$color-grey-100: #f6f6f6;
$border-1-color: #eee;
$descColor: #4f5b67;
$blueLinerGradient: linear-gradient(124deg, #f7faff 0%, #f7f7ff 100%);
$text-bright: #000;
$bg-color-content: #fff;

@mixin laptop {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin iphone {
  @media screen and (max-width: 760px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 505px) {
    @content;
  }
}
