@import 'src/styles/variables';

.tabs {
  background: #f6f6f6;
  border: 1px solid #eee;
  border-radius: 100px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  @include phone {
    gap: 0px;
  }

  .tab {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.02em;
    padding: 5px 12px;
    color: #a8b0b9;
    transition: 0.3s;
    @include phone {
      font-size: 12px;
      line-height: 140%;
      padding: 5px 6px;
    }
    &:global(._isActive) {
      background: #e0e9fe;
      border-radius: 100px;
      color: #2d6bf6;
    }
  }
}
